DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres

BACK_PORT=3037

MAIL_CONFIG={"host":"smtp.example.com"}
MAIL_SENDER=your.email@example.com

CMS_FRONTEND_HOST=http://localhost:5173
CMS_FRONTEND_CONFIRM_ACCOUNT_PATH=/confirm-account
CMS_FRONTEND_RESET_PASSWORD_PATH=/reset-password
CMS_FRONTEND_GOOGLE_AUTH_PATH=/auth/google

JWT_TOKEN_SECRET=your-jwt-token-secret

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

ADMIN_EMAIL=your.email@example.com
ADMIN_USERNAME=administrator
ADMIN_PASSWORD=your-admin-password