@reference "@pkg/tw/index.css";

@layer components {
  .dateInput {
    &::-webkit-date-and-time-value {
      min-height: 1.5em;
    }
    
    &::-webkit-datetime-edit {
      display: inline-flex;
    }

    &::-webkit-datetime-edit-fields-wrapper,
    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-year-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-second-field,
    &::-webkit-datetime-edit-millisecond-field,
    &::-webkit-datetime-edit-meridiem-field {
      padding: 0;
    }
  }
}
