/* @theme {
  --z-tooltip: 99;
} */

@custom-variant icon (& [data-slot=icon]);

@custom-variant state-invalid {
  &[data-invalid]:not([data-disabled]) {
    @slot;
  }
}

@custom-variant state-disabled {
  &[data-disabled] {
    @slot;
  }
}

@layer components {
  .hbox {
    @apply flex flex-wrap items-center gap-x-4 gap-y-1;
  }

  .vbox {
    @apply flex flex-col gap-y-4 gap-x-1;
  }
  
  .compact {
    display: flex;

    & > [data-slot="control"]:has(+ *) input,
    & > [data-slot="control"]:has(+ *) select,
    & > [data-slot="control"]:has(+ *) button,
    & > input:has(+ *),
    & > select:has(+ *),
    & > button:has(+ *),
    & > button:has(+ *)::after,
    & > button:has(+ *)::before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > * + [data-slot="control"] input,
    & > * + [data-slot="control"] select,
    & > * + [data-slot="control"] button,
    & > * + input,
    & > * + select,
    & > * + button,
    & > * + button::after,
    & > * + button::before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      /* @apply border-l-0; */
    }

    & > button:has(+ *)::after,
    & > * + button::after {
      right: 0;
    }
  }
}

@import "./sidebar/sidebar.css";
@import "./overlays/tooltip/tooltip.css";