@reference "@pkg/tw/index.css";
@reference "../../../index.css";

.switch {
  /* Base styles */
  @apply relative isolate inline-flex h-6 w-10 rounded-full p-[3px] sm:h-5 sm:w-8 cursor-pointer;
  /* Transitions */
  @apply transition duration-0 ease-in-out data-changing:duration-200;
  /* Outline and background color in forced-colors mode so switch is still visible */
  @apply forced-colors:outline forced-colors:[--switch-bg:Highlight] dark:forced-colors:[--switch-bg:Highlight];
  /* Unchecked */
  @apply bg-zinc-200 ring-1 ring-inset ring-black/5 dark:bg-white/5 dark:ring-white/15;
  /* Checked */
  @apply data-checked:bg-(--switch-bg) data-checked:ring-(--switch-bg-ring) dark:data-checked:bg-(--switch-bg) dark:data-checked:ring-(--switch-bg-ring);
  /* Focus */
  @apply focus:outline-none data-focus:outline-2 data-focus:outline-offset-2 data-focus:outline-blue-500;
  /* Hover */
  @apply data-hover:data-checked:ring-(--switch-bg-ring) data-hover:ring-black/15;
  @apply dark:data-hover:data-checked:ring-(--switch-bg-ring) dark:data-hover:ring-white/25;
  /* Disabled */
  @apply data-disabled:bg-zinc-200 data-disabled:data-checked:bg-zinc-200 data-disabled:opacity-50 data-disabled:data-checked:ring-black/5;
  @apply dark:data-disabled:bg-white/15 dark:data-disabled:data-checked:bg-white/15 dark:data-disabled:data-checked:ring-white/15;
}

.switchInner {
  /* Basic layout */
  @apply pointer-events-none relative inline-block size-[1.125rem] rounded-full sm:size-3.5;
  /* Transition */
  @apply translate-x-0 transition duration-200 ease-in-out;
  /* Invisible border so the switch is still visible in forced-colors mode */
  @apply border border-transparent;
  /* Unchecked */
  @apply bg-white shadow ring-1 ring-black/5;
  
  /* Checked */
  .switch[data-checked] & {
    @apply bg-(--switch) shadow-(--switch-shadow) ring-(--switch-ring);
    @apply translate-x-4 sm:translate-x-3;
  }

  /* Disabled */
  .switch[data-checked][data-disabled] & {
    @apply bg-white shadow ring-black;
  }
}


/* Colors */
.colorDarkZinc {
  @apply [--switch-bg-ring:theme(colors.zinc.950/90%)] [--switch-bg:theme(colors.zinc.900)] dark:[--switch-bg-ring:transparent] dark:[--switch-bg:theme(colors.white/25%)];
  @apply [--switch-ring:theme(colors.zinc.950/90%)] [--switch-shadow:theme(colors.black/10%)] [--switch:white] dark:[--switch-ring:theme(colors.zinc.700/90%)];
}
.colorDarkWhite {
  @apply [--switch-bg-ring:theme(colors.zinc.950/90%)] [--switch-bg:theme(colors.zinc.900)] dark:[--switch-bg-ring:transparent] dark:[--switch-bg:theme(colors.white)];
  @apply [--switch-ring:theme(colors.zinc.950/90%)] [--switch-shadow:theme(colors.black/10%)] [--switch:white] dark:[--switch-ring:transparent] dark:[--switch:theme(colors.zinc.900)];
}
.colorDark {
  @apply [--switch-bg-ring:theme(colors.zinc.950/90%)] [--switch-bg:theme(colors.zinc.900)] dark:[--switch-bg-ring:theme(colors.white/15%)];
  @apply [--switch-ring:theme(colors.zinc.950/90%)] [--switch-shadow:theme(colors.black/10%)] [--switch:white];
}
.colorZinc {
  @apply [--switch-bg-ring:theme(colors.zinc.700/90%)] [--switch-bg:theme(colors.zinc.600)] dark:[--switch-bg-ring:transparent];
  @apply [--switch-shadow:theme(colors.black/10%)] [--switch:white] [--switch-ring:theme(colors.zinc.700/90%)];
}
.colorWhite {
  @apply [--switch-bg-ring:theme(colors.black/15%)] [--switch-bg:white] dark:[--switch-bg-ring:transparent];
  @apply [--switch-shadow:theme(colors.black/10%)] [--switch-ring:transparent] [--switch:theme(colors.zinc.950)];
}
.colorRed {
  @apply [--switch-bg-ring:theme(colors.red.700/90%)] [--switch-bg:theme(colors.red.600)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.red.700/90%)] [--switch-shadow:theme(colors.red.900/20%)];
}
.colorOrange {
  @apply [--switch-bg-ring:theme(colors.orange.600/90%)] [--switch-bg:theme(colors.orange.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.orange.600/90%)] [--switch-shadow:theme(colors.orange.900/20%)];
}
.colorAmber {
  @apply [--switch-bg-ring:theme(colors.amber.500/80%)] [--switch-bg:theme(colors.amber.400)] dark:[--switch-bg-ring:transparent];
  @apply [--switch-ring:transparent] [--switch-shadow:transparent] [--switch:theme(colors.amber.950)];
}
.colorYellow {
  @apply [--switch-bg-ring:theme(colors.yellow.400/80%)] [--switch-bg:theme(colors.yellow.300)] dark:[--switch-bg-ring:transparent];
  @apply [--switch-ring:transparent] [--switch-shadow:transparent] [--switch:theme(colors.yellow.950)];
}
.colorLime {
  @apply [--switch-bg-ring:theme(colors.lime.400/80%)] [--switch-bg:theme(colors.lime.300)] dark:[--switch-bg-ring:transparent];
  @apply [--switch-ring:transparent] [--switch-shadow:transparent] [--switch:theme(colors.lime.950)];
}
.colorGreen {
  @apply [--switch-bg-ring:theme(colors.green.700/90%)] [--switch-bg:theme(colors.green.600)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.green.700/90%)] [--switch-shadow:theme(colors.green.900/20%)];
}
.colorEmerald {
  @apply [--switch-bg-ring:theme(colors.emerald.600/90%)] [--switch-bg:theme(colors.emerald.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.emerald.600/90%)] [--switch-shadow:theme(colors.emerald.900/20%)];
}
.colorTeal {
  @apply [--switch-bg-ring:theme(colors.teal.700/90%)] [--switch-bg:theme(colors.teal.600)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.teal.700/90%)] [--switch-shadow:theme(colors.teal.900/20%)];
}
.colorCyan {
  @apply [--switch-bg-ring:theme(colors.cyan.400/80%)] [--switch-bg:theme(colors.cyan.300)] dark:[--switch-bg-ring:transparent];
  @apply [--switch-ring:transparent] [--switch-shadow:transparent] [--switch:theme(colors.cyan.950)];
}
.colorSky {
  @apply [--switch-bg-ring:theme(colors.sky.600/80%)] [--switch-bg:theme(colors.sky.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.sky.600/80%)] [--switch-shadow:theme(colors.sky.900/20%)];
}
.colorBlue {
  @apply [--switch-bg-ring:theme(colors.blue.700/90%)] [--switch-bg:theme(colors.blue.600)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.blue.700/90%)] [--switch-shadow:theme(colors.blue.900/20%)];
}
.colorIndigo {
  --switch-bg-ring: --alpha(var(--color-indigo-600) / 90);
  --switch-bg: var(--color-indigo-500);
  --switch-ring: --alpha(var(--color-indigo-600) / 90);
  --switch-shadow: --alpha(var(--color-indigo-900) / 20);
  --switch: white;

  @variant dark {
    --switch-bg-ring: transparent;
  }
}
.colorViolet {
  @apply [--switch-bg-ring:theme(colors.violet.600/90%)] [--switch-bg:theme(colors.violet.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.violet.600/90%)] [--switch-shadow:theme(colors.violet.900/20%)];
}
.colorPurple {
  @apply [--switch-bg-ring:theme(colors.purple.600/90%)] [--switch-bg:theme(colors.purple.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.purple.600/90%)] [--switch-shadow:theme(colors.purple.900/20%)];
}
.colorFuchsia {
  @apply [--switch-bg-ring:theme(colors.fuchsia.600/90%)] [--switch-bg:theme(colors.fuchsia.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.fuchsia.600/90%)] [--switch-shadow:theme(colors.fuchsia.900/20%)];
}
.colorPink {
  @apply [--switch-bg-ring:theme(colors.pink.600/90%)] [--switch-bg:theme(colors.pink.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.pink.600/90%)] [--switch-shadow:theme(colors.pink.900/20%)];
}
.colorRose {
  @apply [--switch-bg-ring:theme(colors.rose.600/90%)] [--switch-bg:theme(colors.rose.500)] dark:[--switch-bg-ring:transparent];
  @apply [--switch:white] [--switch-ring:theme(colors.rose.600/90%)] [--switch-shadow:theme(colors.rose.900/20%)];
}
